:root {
  --text: #6b6375;
  --text-h: #08060d;
  --bg: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  /* color: var(--text); */
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: white;
    --text-h: #f3f4f6;
    --bg: #06281de0;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

body {
  margin: 0;
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

button {
  margin: 5px;
  padding: 12px 15px;
  background-color: #1e7457c2;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
}

.divbtn .otherbtn {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}

.redbtn {
  background-color: rgba(255, 0, 0, 0.774);
  border: none;
  width: 90%;
}

.blackbtn {
  background-color: rgba(0, 0, 0, 0.774);
  border: none;
  width: 90%;
}

.divbtn .Greenbtn {
  height: stretch;
  background-color: green;
  height: "Stretch";
  border: "none"
    /* border: none; */
}

.divbtn .Greenbtn:hover {
  background-color: grey;
}

.divbtn {
  display: flex;
  justify-content: center;
}

.spinbtn,
#clrbtn {
  padding: 12px 35px;
  background-color: rgb(7, 7, 139);
  transition: 0.5s;
  outline: none;
  border: none;
}

.spinbtn:hover,
#clrbtn:hover {
  transform: translateY(-3px);
  background-color: brown;
}

.chipInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
}

.chipData {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* flex-direction: column; */
  align-items: first baseline;
  font-size: 16px;
}

.chipData p {
  margin: 5px 2px 5px 3px;
  text-transform: capitalize;
}

.spinlossStatus {
  font-weight: 700;
  font-size: x-large;
  width: max-content;
  color: white;
  background-color: rgba(218, 119, 160, 0.616);
  margin: 10px auto;
  padding: 12px 30px;
  border-radius: 15px;
}

.spinWinStatus {
  font-weight: 700;
  font-size: x-large;
  width: max-content;
  color: white;
  background-color: rgba(13, 150, 59, 0.795);
  margin: 10px auto;
  padding: 12px 30px;
  border-radius: 15px;
}

.NoresultDiv {
  display: none;
}

.resultDiv {
  font-size: large;
  background-color: #08060d94;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 10px;
  border: 1px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px black;
  margin: 10px auto;
}

.spinNo {
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 20px;
  margin: 5px;
  font-size: 20px;
}

.btn0>* {
  height: stretch;
}


.betTypes {
  margin: 40px 50px 20px 50px;
}

.betBtn {
  background-color: rgb(39, 6, 99);
  padding: 15px 25px;
  border-radius: 20px;
}

.selectedBet {
  background-color: rgba(255, 166, 0, 0.849);
  padding: 15px 25px;
  border-radius: 20px;
}

button:hover {
  background-color: grey;
}

.chipbtn {
  background-color: rgb(69, 42, 121);
  padding: 15px;
  border-radius: 30px;
  border: none;
}

#chipbtn:hover {
  background-color: brown;
}

.allbetdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  justify-content: center;
}

.add1kbtn {
  background-color: rgb(133, 2, 2);
  border: none;
  font-weight: 600;
  word-spacing: 1px;
  /* color: black; */
}



.selectedsingleBet {
  background-color: rgba(255, 166, 0, 0.849);
  border: none;
  width: 90%;
  height: "Stretch";
  border: "none",
}

.selectedChipAmt {
  background-color: rgba(255, 166, 0, 0.849);
  padding: 15px;
  border-radius: 30px;
  border: none;
}

.inputPlayer {
  padding: 8px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  margin: 5px auto;
}

.resultDisplay {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.btnclass {
  display: flex;
  flex-direction: column;
}

.counterbtn {
  border: none;
  background-color: black;
  color: white;
  padding: 10px 20px;
}

.counterbtnDisable {
  border: none;
  background-color: rgba(43, 40, 40, 0.76);
  color: white;
  padding: 10px 20px;
}

.resultbtn {
  background-color: black;
  padding: 15px 30px;
  border: 2px solid white;
  font-size: 15px;
  font-weight: 600;
}

.playergrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.preNextbtnHide {
  display: none;
}

.preNextbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  margin: 5px auto;
}

.movebtn {
  background-color: black;
}